<body>
  <h2>[ACTION NEEDED] Publishing <%= tag %> hotfix release to Sparkle failed</h2>
  <a data-asana-gid='<%= assignee_id %>' />, please proceed with generating appcast2.xml and uploading files to S3 from your
  local machine, <a data-asana-gid='<%= task_id %>' data-asana-dynamic='false'>according to instructions</a>.<br>
  <br>
  🔗 Workflow URL: <a href='<%= workflow_url %>'><%= workflow_url %></a>.
</body>