name: Tag <%= branch %> branch, delete it, and create GitHub release
html_notes: |
  <body>
    Failed to tag the release with <code><%= tag %></code> tag.<br>
    Please follow instructions below to tag the branch, make GitHub release and delete the release branch manually.
    <ul>
      <li>If the tag has already been created, please proceed with creating GitHub release and deleting the branch.</li>
      <li>If both tag and GitHub release have already been created, please close this task already.</li>
    </ul><br>
    Issue the following git commands to tag the release and delete the branch:
    <ul>
      <li><code>git fetch origin --tags</code></li>
      <li><code>git checkout <%= promoted_tag %></code> check out the internal tag</li>
      <li><code>git tag <%= tag %></code> tag the release with a public tag</li>
      <li><code>git push origin <%= tag %></code> push the tag</li>
      <li><code>git push origin --delete <%= branch %></code> delete the release branch</li>
    </ul><br>
    To create GitHub release:
    <ul>
      <li>Set up GH CLI if you haven't yet: <a data-asana-gid='1203791243007683'/></li>
      <li>Run the following command:
      <ul>
        <li><code>gh release create <%= tag %> --generate-notes --latest --notes-start-tag <%= last_release_tag %></code></li>
      </ul></li>
    </ul><br>
    Complete this task when ready.<br>
    <br>
    🔗 Workflow URL: <a href='<%= workflow_url %>'><%= workflow_url %></a>.
  </body>
